.FilterLable {
  margin: 10px;
  display: block;
  text-align: center;

}
.title {
  text-align: center;
  font-weight: 600;
  color: royalblue;
  text-decoration: overline;
  text-transform: uppercase;
  padding: 22px;
}
